html {
    font-size: 10px;
}

header {
    @media (max-width:1000px) {
        font-size:smaller;
    }
}
main{
    @media (max-width: 1000px){
        .main-column{
            font-size: 12px;
        }
    }
    @media (max-width: 920px){
        padding-left: 19vw;
    }
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    background-color: $black-bg;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}